trigger:
  branches:
    include:
      - main

pr: none

pool:
  vmImage: ubuntu-latest

variables:
  - template: templates/variables.yaml

lockBehavior: runLatest

stages:
  - template: templates/workflow.yaml
