trigger: none

pr: none

pool:
  vmImage: ubuntu-latest

variables:
  kubernetesEnvironment: $(KUBERNETES_ENVIRONMENT)
  kubernetesNamespace: $(KUBERNETES_NAMESPACE)
  system.debug: true

stages:
  - stage: Delete
    displayName: Delete Dagster
    jobs:
      - deployment: Delete
        displayName: Delete Dagster deployment
        environment: $(kubernetesEnvironment)
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                - task: HelmDeploy@0
                  displayName: Helm uninstall Dagster
                  inputs:
                    namespace: $(kubernetesNamespace)
                    command: uninstall
                    arguments: dagster

                - task: HelmDeploy@0
                  displayName: Helm uninstall authproxy
                  inputs:
                    namespace: $(kubernetesNamespace)
                    command: uninstall
                    arguments: dagster-authproxy

                - task: Kubernetes@1
                  displayName: Delete resources in namespace
                  inputs:
                    command: delete
                    arguments: all --all
                    namespace: $(kubernetesNamespace)

                - task: Kubernetes@1
                  displayName: Delete PVCs in namespace
                  continueOnError: true
                  inputs:
                    command: delete
                    arguments: pvc --all
                    namespace: $(kubernetesNamespace)
