x-common-config: &common-config
  init: true
  restart: unless-stopped
  networks:
    - giga-dataops

x-dagster-common-config: &dagster-common-config
  <<: *common-config
  env_file: ./dagster/.env
  build: ./dagster
  image: unicef/giga-dataops-platform/dagster
  restart: unless-stopped
  environment:
    DAGSTER_HOME: /app
    SHORT_SHA: ${SHORT_SHA}

x-spark-common-config: &spark-common-config
  <<: *common-config
  user: "1001:1001"
  image: unicef/giga-dataops-platform/spark
  env_file: ./dagster/.env

x-spark-worker-common-config: &spark-worker-common-config
  <<: *spark-common-config
  build:
    context: ./spark
    target: base

x-spark-worker-common-env: &spark-worker-common-env
  SPARK_MODE: worker
  SPARK_MASTER_URL: spark://spark-master:7077
  SPARK_WORKER_HOST: 0.0.0.0
  SPARK_WORKER_CORES: 1
  SPARK_WORKER_MEMORY: 512M
  SPARK_PUBLIC_DNS: localhost

volumes:
  dagster-storage:

networks:
  giga-dataops:
    external: true

services:
  dagster-storage:
    <<: *common-config
    image: bitnami/postgresql:14
    env_file: ./dagster/.env
    volumes:
      - dagster-storage:/bitnami/postgresql

  dagster-webserver:
    <<: *dagster-common-config
    volumes:
      - ./dagster:/app
      - ./dagster/.tmp/warehouse:/opt/spark/warehouse
    depends_on:
      - dagster-storage
    ports:
      - "3001:3002"

  spark-master:
    <<: *spark-common-config
    build:
      context: .
      target: master
      dockerfile: spark/Dockerfile
    environment:
      SPARK_MODE: master
      SPARK_MASTER_HOST: 0.0.0.0
      SPARK_MASTER_PORT: 7077
      SPARK_MASTER_WEBUI_PORT: 8070
      SPARK_PUBLIC_DNS: localhost
      THRIFT_PORT: 10000
    ports:
      - "7077:7077"
      - "8070:8070"
      - "10000:10000"

  spark-worker-1:
    <<: [ *spark-common-config, *spark-worker-common-config ]
    environment:
      <<: *spark-worker-common-env
      SPARK_WORKER_WEBUI_PORT: 8071
    ports:
      - "8071:8071"

  spark-worker-2:
    <<: [ *spark-common-config, *spark-worker-common-config ]
    environment:
      <<: *spark-worker-common-env
      SPARK_WORKER_WEBUI_PORT: 8072
    ports:
      - "8072:8072"

  spark-worker-3:
    <<: [ *spark-common-config, *spark-worker-common-config ]
    environment:
      <<: *spark-worker-common-env
      SPARK_WORKER_WEBUI_PORT: 8073
    ports:
      - "8073:8073"

  #  authproxy:
  #    <<: *common-config
  #    build: ./authproxy
  #    image: unicef/giga-dataops-platform/dagster-authproxy
  #    env_file: ./authproxy/.env
  #    volumes:
  #      - ./authproxy:/app
  #    ports:
  #      - "3001:3001"
