[tool.poetry]
name = "giga-dagster"
version = "0.1.0"
description = ""
authors = ["Thinking Machines <hello@thinkingmachin.es>"]
readme = "../docs/README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
scipy = ">=1.10.0"
cryptography = ">=41.0.4"
sentry-sdk = "^1.35.0"
openpyxl = "^3.1.2"

[tool.poetry.group.dagster.dependencies]
dagster = "1.5.0"
dagster-webserver = "1.5.0"
dagster_docker = "0.21.0"
dagster-postgres = "0.21.0"
dagster-pyspark = "0.21.0"

[tool.poetry.group.pipelines.dependencies]
dagster = "1.5.0"
dagster-webserver = "1.5.0"
dagster-azure = "0.21.0"
dagster_docker = "0.21.0"
dagster-postgres = "0.21.0"
dagster-ge = "0.21.0"
dagster-k8s = "0.21.0"
great-expectations = { version = "<0.17.12", extras = ["azure"] }
azure-storage-blob = "^12.17.0"
azure-storage-file-datalake = "^12.13.1"
pytest-cov = "4.0.0"
azure-identity = "^1.14.0"
geopy = "^2.4.0"
h3 = "^3.7.6"
fastparquet = "^2023.8.0"
grpcio-status = "^1.59.0"
acryl-datahub = { extras = ["azure-ad"], version = "^0.12.0.1" }
shapely = "^2.0.2"
geopandas = "^0.14.1"
thefuzz = "^0.20.0"
country-converter = "^1.1.1"
dbt-trino = "^1.7.0"
great-expectations-experimental = "^0.1.20231115049"


[tool.poetry.group.spark.dependencies]
pyspark = "3.5.0"
delta-spark = "3.0.0"
deltalake = "0.12.0"
pyarrow = "11.0.0"
pyarrow-hotfix = "^0.5"
roapi = "0.9.0"

[tool.poetry.group.notebook.dependencies]
ipython = "^8.15.0"
jupyterlab = "^4.0.8"
jupyter = "^1.0.0"
notebook = "^7.0.6"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.0.2"
black = "^23.7.0"
flake8 = "^6.1.0"
isort = "^5.12.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py311"]
preview = true

[tool.isort]
profile = "black"

[tool.dagster]
module_name = "src.definitions"
