apiVersion: v1
kind: ConfigMap
metadata:
  name: giga-dagster-configmap
  labels:
    app: giga-dagster
data:
  DAGSTER_WEBSERVER_URL: "http://dagster-dagster-webserver:3002"
  DAGSTER_WEBSERVER_READONLY_URL: "http://dagster-dagster-webserver-read-only:3002"
  DATAHUB_METADATA_SERVER_URL: "datahub-datahub-gms:8080"
  SPARK_UI_URL: "http://spark-master-svc:8080"
  SPARK_MASTER_HOST: "spark-master-svc"
  oauth2_proxy.cfg: |
    http_address = ":3001"
    upstreams = ["http://dagster-dagster-webserver:3002", "http://spark-master-svc:8080/spark"]
    email_domains = ["thinkingmachin.es", "unicef.org"]
    api_routes = ["^/graphql"]
    cookie_name = "_oauth2_proxy"
    cookie_expire = "168h"
    cookie_secure = false
    cookie_httponly = false
    provider = "azure"
    code_challenge_method = "S256"
    proxy_prefix = "/auth"
    custom_sign_in_logo = "/app/static/dagster.svg"
    scope = "openid profile email"
    proxy_websockets = true
    insecure_oidc_skip_issuer_verification = true
    oidc_email_claim = "preferred_username"
    oidc_issuer_url = "https://login.microsoftonline.com/common/v2.0"
