<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          container: {
            center: true,
            padding: "2rem",
            screens: {
              "2xl": "1400px",
            },
          },
        },
      },
    };
  </script>
  <style>
      body {
          font-size: 14pt;
          font-family: "Open Sans", sans-serif;
      }
  </style>

  <title>Login | Dagster</title>
</head>
<body>
<main>
  <div
    class="h-screen flex flex-col bg-[#f5f4f2] gap-4">
    <header class="flex-none">
      <nav class="bg-zinc-800 h-[70px] flex items-center px-6">
        <img src="/static/dagster.svg" class="h-[50px]" alt="Dagster" />
      </nav>
    </header>
    <div class="flex flex-col justify-center items-center h-full gap-4">
      {% block body %}{% endblock %}
    </div>
  </div>
</main>
</body>
</html>
